html, body {
	height:100%;
    background-color: #2A2A2A;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

.wrapper { 
    width: 100%; 
    margin: 0 auto; 
}


section {
	height:100vh;
	position:relative;
	text-align:center;
}


.contents {
	width:70%;
	height:70%;
	overflow:auto;
	margin:auto;
	position:absolute;
	top:0;left:0;bottom:0;right:0;
}


#nav {
	z-index:2;
	position:fixed;
	height:97%;
    width: 5%;
	margin-left: 5px;
	top:0;left:0;bottom:0;right:0;
}

#home-iface { background-color:#383838; }
#code-iface { background-color:#2A2A2A; }
#art-iface { background-color:#383838; }
#resume-iface { background-color:#2A2A2A; }
 
span.labels {
	font-family: 'Comfortaa', cursive;
    font-weight: 700;
	/* text-transform:uppercase; */
	font-size:1.7em;
	display:block;
	margin-top:0px;
}

#nav ul {
	list-style-type:none;
    font-family: 'Comfortaa', cursive;  
}

#nav ul li {
	margin-bottom:30px;
	min-height:5px;
}

#nav ul li a {
	color:#fff;
	display:block; 
	padding-top:48px;
	font-size:.75em;
    text-decoration: none;
}

#nav ul li#home {
	background:url(../images/homeColor.png) no-repeat;
	width:45px;
	height:45px;

}

#nav ul li#home a {
    margin-left: 6px;
}

#nav ul li#code {
	background:url(../images/codeNoColor.png) no-repeat;
	width:45px;
	height:45px;
}

#nav ul li#code a {
	margin-left:8px;
}


#nav ul li#art {
	background:url(../images/artNoColor.png) no-repeat;
	width:45px;
	height:45px;
    margin-left: 8px
}

#nav ul li#art a {
	margin-left: 6px;
}

#nav ul li#resume {
	background:url(../images/resumeNoColor.png) no-repeat;
	width:44px;
	height:44px;
    margin-left: 3px;

}

#nav ul li#resume a{
    margin-left: 0px;
}

.leftCol img {
    border-radius: 2px;
    border: 2px solid rgba(42,42,42,0.6);
}

.leftCol img:hover {
    background: rgba(42,42,42,0.6);
}

.githubDiv {
    margin: 0 auto;
    width: 75%;
    border-radius: 2px;
    padding-top: 2px;
    border: 2px solid rgba(42,42,42,0.6);
}

.githubDiv:hover {
    background: rgba(42,42,42,0.6);
}

div.codeCustom {
    position: relative;
    height: 19%;
    width: 10%;
    margin: auto;
    top: 3%;
}

div.artCustom {
	position: relative;
	height: 15%;
    width: 10%;
    margin: auto;
    top: 3%;

}

div.large-12.contents{
    top:20%;
}

div.galleria {
    width: 95%;
    height: 95%;
    margin: auto 0;
}


.codeBlock {
    font-family: 'Comfortaa', cursive;
    color: #DBDBDB;
}


.column-center {
    border:solid 2px #333333;
    display: inline-block; 
    width: 33%;
    border-radius: 3px;
    padding: 10px 2px 25px 2px;

}

.column-center:hover{
    background-color: #383838;
}


.column-left {
    float: left;
    width: 30%;
    height: 100%;
    border-radius: 5px;
    border: solid 2px #333333;
    padding: 5px 2px 10px 2px;
}

.column-left:hover {
    background-color: #383838;
}



.column-right {
    float: right;
    width: 30%;
    border-radius: 5px;
    border: solid 2px #333333;
    padding: 50px 2px 140px 2px;
/*    top: 50%;*/
/*    transform: translateY(50%); */
}

.column-right:hover{
    background-color: #383838;
}

.ggjCol {
    position: relative;
    margin: 0 auto;
    width: 75%;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 2px;
    border: 2px solid rgba(42,42,42,0.6);
}

.ggjCol:hover {
    background: rgba(42,42,42,0.6);

}


.nativePara {
    text-align: left;
    padding-left: 5px;
}

.nativeList{
    text-align: left;
}

.nativeLinks {
    width: 40%;
    height: 100%;
    align-content: center;
    margin: 0 auto;
    border-left: solid 1px #383838;
    border-right: solid 1px #383838;
}

.nativeLinks a:link, a:visited, a:hover, a:active {
    text-decoration: overline;
    color: white;
    font-size: .8em;
}

.column-center img {
    object-fit: cover;
    margin: 0 auto;
}




.aboutme {
    font-family: 'Comfortaa', cursive;
    color: #DBDBDB;
    width: 100%;
    height: 100px;
}

.homeEtc{
    width:150px;
    height: 40px;
    margin: 0 auto;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-left: solid 1px #383838;
    border-right: solid 1px #383838;
    
}

.hCenter {
    display: inline-block; 
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: solid 3px rgba(42,42,42,0.6);    
}

.hCenter img {  
    transform: translateY(15%); 
}

.hCenter:hover {
    background-color: rgba(42,42,42,0.6);
}

/* left button */
.hLeft {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: solid 3px rgba(42,42,42,0.6);    
}

.hLeft img {
    transform: translateY(15%);
}

.hLeft:hover {
    background-color: rgba(42,42,42,0.6);  
}


/* right button */
.hRight {
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: solid 3px rgba(42,42,42,0.6);
}

.hRight img {
    transform: translateY(15%);
}

.hRight:hover {
    background-color: rgba(42,42,42,0.6);
    
}


.resumeBlock {
    height: 100px;
    width: 50%;
    margin: 0 auto;
    font-family: 'Comfortaa', cursive;
    color: #DBDBDB;
}


.resumeLink a{
    text-decoration: none;
    font-size: .8em;
    
}

.resumeLink{
    border-radius: 100%;
    width: 125px;
    margin: 0 auto;
    padding: 4px 4px 4px 4px;
    border: solid 2px rgba(56,56,56,0.8);
}


.resumeLink:hover{
    background: rgba(56,56,56,0.8);
}

#resume-iface .resumeNote  {
    font-family: 'Comfortaa', cursive;
    color: #DBDBDB;
    font-size: .7em;
    position: absolute;
    bottom: 0;
    margin-left: 90%;
    
}


/* ALL OF THIS IS FOR COLORS OF THE TEXT! */
span#label-home { color:#BFBFBF; }
span#label-code { color:#ababab; }
span#label-art { color:#BFBFBF; }
span#label-resume { color:#ababab; }


@media only screen and (max-width: 40.063em) {

	#nav {
		height:auto;
		margin-top:40px;
		margin-left:10px;
	}

	#nav ul li {
		width:20% !important;
		display:inline;
		float:left;
	}

	#nav ul li a {
		font-size:.85em;
	}


}
